:root {
  --overlay-color: #212529;
  --hover-text-color: #339af0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: black;
  color: #fff;
  font-size: 1.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.my-name {
  font-size: 2.4rem;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  list-style: none;
  font-size: 1.6rem;
}
.social-links a:link,
.social-links a:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: #fff;
  text-decoration: none;
  transform: scale(1);
  transition: all 0.15s ease;
}
.social-links a:hover,
.social-links a:active {
  color: inherit;
  text-decoration: none;

  transform: scale(1.1);
  color: var(--hover-text-color);
}

.social-links a::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover-text-color);
  transform: scaleX(0);
  transition: transform 0.15s ease-out;
}

.social-links a:hover::after {
  transform: scaleX(1);
}

.cards-hand {
  pointer-events: none;
  z-index: 12;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card {
  pointer-events: all;
  position: absolute;
  width: 250px;
  aspect-ratio: 9/13;

  /* disable dragging */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  /* disable selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  top: 100%;
  left: 50%;

  cursor: grab;
  border-radius: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

  transition: box-shadow 0.3s ease-out;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: 20px;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  border-radius: 20px;

  display: flex;
  justify-content: start;
  align-items: center;
}

.card-name {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 6rem;
}

.card-icon {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  display: block;
  color: white;
  font-size: 4rem;
  width: 4rem;
}

.card-dragging {
  box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.card-in-container {
  pointer-events: none;
}

.overlay-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: 1;
  transition: opacity 0.3s ease-out;
  z-index: 10;
}
.overlay-cover--hidden {
  opacity: 0;
}

.card-container-overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.drag-card-info {
  position: absolute;
  top: -5rem;
  left: 50%;
  /* background-color: red; */
  color: rgba(255, 255, 255, 0.3);
  width: 40rem;
  transform: translate(-50%, -50%);
  font-size: 3.6rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.1s ease-out;
}

.drag-card-info--hidden {
  opacity: 0;
}

.dropoff-location-card {
  pointer-events: all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  aspect-ratio: 9/13;

  /* dotted border */
  border: 5px dashed rgba(255, 255, 255, 0.3);
  border-radius: 10px;

  transition: all 0.3s ease;
}
.dropoff-location-card--hover {
  width: 380px;
}

.dropoff-location-card--moved {
  position: fixed;
  top: 1rem;
  left: 1rem;
  transform: translate(0, 0);
}

.dropoff-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  opacity: 1;

  transition: all 0.15s ease;
}
.dropoff-icon--hidden {
  opacity: 0;
}

.hidden {
  display: none !important;
}
