* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212529;
    color: #fff;

    overflow: hidden;
}

.card {
    position: absolute;
    width: 250px;
    
    /* disable dragging */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    /* disable selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: grab;
}

.dropoff-location-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    aspect-ratio: 9/13;

    /* dotted border */
    border: 5px dashed #ffffff10;
    border-radius: 10px;

    transition: all 0.3s ease;
}
.dropoff-location-card--hover {
    width: 380px;
}
.dropoff-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: 1;

    transition: all 0.15s ease;
}
.dropoff-icon--hidden {
    opacity: 0;
}