/* ----------------------- GENERAL ----------------------- */
.card-page-section {
  margin-bottom: 20rem !important;
}
.highlight-word {
  display: inline-block;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  background-color: var(--highlight-word);
  color: var(--text-dark);
}

.itch-link {
  display: inline-block;
}

.itch-button {
  height: 5rem;
}

a:link,
a:visited {
  position: relative;
  color: inherit;
  text-decoration: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
header a {
  border-bottom: 2px solid rgba(255, 255, 255, 0) !important;
}

a::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover-text-color);
  transform: scaleX(0);
  transition: transform 0.15s ease-out;
}

a:hover::after {
  transform: scaleX(1);
}
