.card-page-section[data-id="more-games"] {
    padding: 0rem;
}
.more-showcase-area {
    position: relative;
    height: 80vh;

    background-position: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px);
    background-size: 30px 30px;

    border-top: 2px solid rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);

    margin-bottom: 5rem;
}

.more-stuff-header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    margin-left: 5rem;
    z-index: 1;
    font-size: 8.6rem;
    font-weight: 1000;
    letter-spacing: 2rem;
    mix-blend-mode: difference;
}

.more-showcase-video-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 50%;
    width: 100%;
    z-index: 2;
    /* margin-top: 10rem; */
}
.more-showcase-video,
.more-showcase-video-underlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}
.more-showcase-video {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.more-showcase-video-underlay {
    z-index: -1;
    filter: blur(100px) brightness(1.5);
    opacity: 0.3;
}

/* --------------- SCROLLER --------------- */
.scroller {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;

    height: 100%;

    -webkit-mask-: linear-gradient(to right, transparent, white 5%, white 95%, transparent);
    mask: linear-gradient(to right, transparent, white 5%, white 95%, transparent);
}
.scroller-row {
    padding-left: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    gap: 20rem;

    width: max-content;
    height: 20%;

    animation: scroll var(--scroll-duration, 20s) var(--scroll_direction, forwards) linear infinite;
}
.scroller-row[data-direction="right"] {
    --scroll_direction: reverse;
}
.scroller-row[data-duration="short"] {
    --scroll-duration: 10s;
}
.scroller-row[data-duration="medium"] {
    --scroll-duration: 20s;
}
.scroller-row[data-duration="long"] {
    --scroll-duration: 30s;
}
.scroller-item {
    border-radius: 10px;
    height: 100%;
    opacity: 0.5;
    filter: grayscale(1) blur(5px);
}

@keyframes scroll {
    to {
        transform: translateX(-50%);
    }
}

/* --------------- NOTABLE PROJECTS --------------- */
.notable-projects-header {
    font-size: 3.6rem;
    text-align: center;
    max-width: 50%;
    margin: auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.notable-projects-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    height: max-content;
    max-width: 95%;
    margin: 3rem auto;
    justify-content: center;
    gap: 5rem;
}
.notable-project {
    position: relative;
    border-radius: 20px;
    height: 40rem;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 1.6rem;

    outline: 2px solid rgba(255, 255, 255, 0.2);

    /* cursor: pointer; */
    transition: width 0.5s ease, height 0.5s ease;
}

.notable-project-selected {
    cursor: unset;
    width: 100%;
}
.notable-project-not-selected {
    width: 10%;
}

.notable-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.notable-project-header-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    font-size: 2.4rem;

    transition: all 0.5s ease;
}
.notable-project-not-selected .notable-project-header-area {
    display: none;
}

.notable-project-selected .notable-project-header-area,
.notable-project:hover .notable-project-header-area,
.notable-project:active .notable-project-header-area {
    top: 1rem;
    left: 1rem;
    transform: translate(0, 0);
}

.notable-project-header {
    font-family: "Limelight", sans-serif;
    max-width: max-content;
}
.notable-application-type {
    font-size: 1.6rem;
    font-style: italic;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.notable-project:hover .notable-application-type,
.notable-project:active .notable-application-type {
    opacity: 0;
}

.notable-project-description {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: inherit;
    height: 100%;
    width: 95%;

    margin: auto;
    margin-top: 5rem;

    transition: all 0.5s ease;
}
.notable-project:hover .notable-project-description,
.notable-project:active .notable-project-description {
    display: block;
    transform: translate(-50%, -50%);
}
.notable-project-selected .notable-project-description,
.notable-project-not-selected .notable-project-description {
    opacity: 0;
}

.notable-project-background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;

    filter: blur(10px) brightness(0.3);
    transition: filter 0.5s ease;
}

.notable-project:hover .notable-project-background-img,
.notable-project:active .notable-project-background-img {
    filter: blur(0px) brightness(0.3);
}

.notable-project-extra {
    display: none;
    transition: all 0.5s ease;
    transform: translate(0, 100%);
    font-size: inherit;

    margin: 1rem;
    margin-top: 5rem;
}
.notable-project-selected .notable-project-extra {
    display: block;
    transform: translate(0, 0);
}

.notable-project-extra-img {
    display: inline-block;
    max-height: 200px;
}

.notable-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 2.4rem;
}
