:root {
    --hover-text-color: #339af0;
    --overlay-color: #0b090a;
    --background-color: #0b090a;
    --background-color--light: #1f1f1f;
    --card-background-color: #f8f9fa;
    --card-inner-background-color: #343a40;
    --card-mobile-background-color: #343a40;
    --card-outline-color: #212529;
    --highlight-word: #ffb703;

    --text-dark: #0b090a;
    --text-light: #f7f7f7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: #fff;
    font-size: 1.6rem;

    margin-top: 5rem;

    /* background-image: radial-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px);
  background-size: 30px 30px; */
}
.mobile-site {
    display: none;
}

/*----------------------- HEADER AREA ----------------------- */

header {
    font-family: "Source Code Pro", monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    gap: 1rem;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}
.projects-navigation {
    position: relative;
    margin-right: auto;
}
.projects-dropdown {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;

    transition: background-color 0.15s ease;
}
.projects-dropdown:hover,
.projects-dropdown:active {
    background-color: rgba(255, 255, 255, 0.3);
}
.projects-dropdown-chevron {
    transition: all 0.15s ease;
}
.projects-dropdown-chevron--active {
    transform: rotate(90deg);
}

.projects-nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    gap: 1rem;
    width: max-content;

    background-color: rgba(0, 0, 0, 0.96);
    border-radius: 10px;
    padding: 0rem 1rem;
    margin-top: 1rem;
    opacity: 0;
    z-index: 11;

    height: 0;
    overflow: hidden;
    transition: all 0.15s ease;
}
.projects-nav-links--active {
    height: max-content;
    padding: 1rem 1rem;
    opacity: 1;
}
.nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 25rem;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 0.5rem;

    transition: background-color 0.15s ease;
}
.nav-link:hover,
.nav-link:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.my-name {
    font-size: 2.4rem;
}
.my-name a:link,
.my-name a:visited {
    color: #fff;
    text-decoration: none;
    transition: all 0.15s ease;
}
.my-name a:hover,
.my-name a:active {
    color: var(--hover-text-color);
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    list-style: none;
    font-size: 1.6rem;
}
.social-links a:link,
.social-links a:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: #fff;
    text-decoration: none;
    transform: scale(1);
    transition: all 0.15s ease;
}
.social-links a:hover,
.social-links a:active {
    color: inherit;
    text-decoration: none;

    transform: scale(1.1);
    color: var(--hover-text-color);
}

.social-links a::after {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--hover-text-color);
    transform: scaleX(0);
    transition: transform 0.15s ease-out;
}

.social-links a:hover::after {
    transform: scaleX(1);
}

.desktop-tip {
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 2rem;
    padding: 0.5rem 1rem;
}

/*----------------------- CARD STUFF ----------------------- */

.mobile-cards {
    width: 90%;
    margin: auto;

    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-card {
    position: relative;
    pointer-events: all;
    width: 95%;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;

    border: none;

    background-color: var(--card-mobile-background-color);

    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
    color: var(--text-light);

    /* overflow: hidden; */

    transition: box-shadow 0.25s ease;
}
.mobile-card img {
    height: 100%;
    width: 12rem;
    object-fit: cover;
    pointer-events: none;
    touch-action: none;
    /* border-radius: 20px; */
    margin-left: auto;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.3);
}
.mobile-card-details {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 0.2rem;
    width: calc(100% - 12rem);
    margin: 1rem;
}
.mobile-card-details .card-icon {
    font-size: 3.6rem;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    background-color: var(--card-mobile-background-color);
    border-radius: 50%;
    padding: 1rem;
}
.mobile-card-name {
    color: inherit;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: start;
    margin-left: 2rem;

    font-family: "Rubik Mono One", monospace;
}

.cards-hand {
    pointer-events: none;
    touch-action: none;
    z-index: 12;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card {
    pointer-events: all;
    position: absolute;
    width: 250px;
    /* aspect-ratio: 9/13; */
    height: 350px;

    color: var(--text-light);

    /* disable dragging */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    /* disable selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    top: 100%;
    left: 50%;

    font-size: 2rem;

    cursor: grab;
    border-radius: 30px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: none;
    outline: none;

    /* overflow: hidden; */

    transition: box-shadow 0.25s ease;
}

/* Card dark until highlighted */
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    transition: background-color 0.25s ease, filter 0.25s ease;
}
.card--hover.card::after {
    background-color: rgba(255, 255, 255, 0.05);
    filter: blur(50px) brightness(1.5);
}

.card--hover {
    box-shadow: 30px 90px 0px rgba(0, 0, 0, 0.3);
}

.card-dragging {
    box-shadow: 15px 40px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    touch-action: none;
}

.card-in-container {
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    touch-action: none;
}

.card .card-img,
.card .card-glow-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    touch-action: none;

    border-radius: 20px;
}
.card-img {
    z-index: -1;
    /* this is here because of transparent card imgs */
    background-color: rgba(255, 255, 255, 0.05);
}
.card-glow-img {
    z-index: -2;
    filter: blur(10px);
    opacity: 0;

    transition: filter 2s ease, opacity 1s ease;
}
.card--hover .card-glow-img {
    filter: blur(50px);
    opacity: 0.5;
}
.card-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: absolute;
    left: 0;
    width: 100%;

    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card-name {
    /* font-family: "Rubik Mono One", monospace; */
    font-family: "Limelight", sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    display: block;
}

.card-type {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    font-family: "Source Code Pro", monospace;

    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-light);
    font-style: italic;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.card-icon {
    font-size: 2.4rem;
}

.card-container-overlay {
    font-family: "Source Code Pro", monospace;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;

    background-color: transparent;
    transition: background-color 0.3s ease;
}

.card-container-overlay:has(> .dropoff-location-card--moved):not(:has(> .dropoff-location-card--moved-offscreen)) {
    background-color: rgba(0, 0, 0, 0.8);
}

.drag-card-info {
    position: absolute;
    top: -5rem;
    left: 50%;
    /* background-color: red; */
    color: rgba(255, 255, 255, 0.3);
    width: 40rem;
    transform: translate(-50%, -50%);
    font-size: 3.6rem;
    text-align: center;
    opacity: 1;
    transition: opacity 0.1s ease-out;
}

.drag-card-info--hidden {
    opacity: 0;
}

.dropoff-location-card {
    pointer-events: all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    aspect-ratio: 9/13;

    /* dotted border */
    border: 5px dashed rgba(255, 255, 255, 0.3);
    border-radius: 10px;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15), inset 10px 10px 10px rgba(0, 0, 0, 0.15);

    transition: all 0.4s ease;
}
.dropoff-location-card--hover {
    width: 380px;
}

.dropoff-location-card::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 2s ease;
}
.dropoff-location-card--hover::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(300px);
}

.dropoff-location-card--moved {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.dropoff-location-card--moved-offscreen {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.dropoff-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    opacity: 1;

    transition: all 0.15s ease;
}
.dropoff-icon--hidden {
    opacity: 0;
}

.card-dragging-help-text {
    pointer-events: none;
    opacity: 1;

    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    text-align: center;
    width: 40rem;

    transition: opacity 0.3s ease;
}
.card-dragging-help-text--hidden {
    opacity: 0;
}

/* ----------------------- OVERLAY -----------------------  */
.start-page-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);

    padding-top: 8rem;

    background-position: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px);
    background-size: 30px 30px;
    opacity: 1;
    z-index: 10;
}
.work-in-progress {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;

    font-size: 9.6rem;
    text-align: center;
    background-position: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px);
    background-size: 30px 30px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    text-shadow: 4px 4px 4px var(--background-color), 0 0 0 rgba(0, 0, 0, 0.5);
}
.overlay-cover {
    --cover-edge-width: 40px;
    pointer-events: none;
    touch-action: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(calc(-100% - var(--cover-edge-width)));
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 10;
    display: none;
}
.overlay-cover--active {
    animation: slide-in 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    display: block !important;
}

.overlay-cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--cover-edge-width));
    width: calc(100% + calc(2 * var(--cover-edge-width)));
    height: 100%;
    border-right: var(--cover-edge-width) solid white;
    border-left: var(--cover-edge-width) solid white;
}

@keyframes slide-in {
    0% {
        transform: translateX(calc(-100% - var(--cover-edge-width)));
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100% + var(--cover-edge-width)));
    }
}

/* ----------------------- CARD PAGE SECTIONS ----------------------- */

.card-page-section {
    padding: 1rem;
}
.card-page-section--hidden {
    display: none;
}

.hidden {
    display: none !important;
}
