:root {
    --ck-image-border-radius: 40px;
}

.card-page-section[data-id="corner-kingdoms"] {
    margin: 0 5rem;
    font-size: 2.4rem;
}
.card-page-section h3 {
    margin-top: 4rem;
}

.ck-title-section {
    background-color: var(--background-color--light);
    font-size: 5.4rem;

    padding: 2.4rem;
    border-radius: var(--ck-image-border-radius);
    margin-bottom: 2.4rem;

    box-shadow: 20px 20px 60px #00000050;
}

.ck-about {
    margin: auto;
    margin-bottom: 5rem;
}
.ck-features-list {
    margin-bottom: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    background-color: rgba(255, 255, 255, 0.03);
    padding: 2rem;
    border-radius: calc(var(--ck-image-border-radius) + 10px);
}
.ck-features-list ul {
    margin: auto;
}
.ck-features-list ul li {
    margin-left: 3rem;
    line-height: 5rem;
}
.ck-features-list-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.ck-features-screenshot {
    width: 100%;
    object-fit: cover;
    border-radius: var(--ck-image-border-radius);
}
.ck-simplicity-statement {
    width: 100%;
    margin-bottom: 5rem;
    font-size: 3.6rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 2rem;
    border-radius: var(--ck-image-border-radius);
}

.ck-mechanics img {
    display: block;
    max-height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: var(--ck-image-border-radius);
}
.margin-auto {
    margin: auto;
}

.card-page-section[data-id="corner-kingdoms"] .page-scroll-link {
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

/*-----------------------------  THUMBNAILS ----------------------------- */
.ck-thumbnail-precursor {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}
.ck-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 90%;
    height: 20rem;

    margin: 2rem auto;
}
