.card-page-section[data-id="about"] {
    margin: auto;
    width: 80%;
}

.about-title {
    font-size: 8.4rem;
    font-weight: 700;

    text-align: center;
}
.check-out-other-stuff {
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}
.twitter-plug {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.twitter-plug a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.age-timer {
    width: 10rem;
    display: inline-block;
}
